/* Reset styles */
html,
body {
  padding: 0;
  margin: 0;
}

/* Fonts and base styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

/* Container styles */
.main {
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Header styles */
.header {
  color: #4682ec;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Form styles */
.articleInputText {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 50%;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.bg-default {
  background-color: #4682ec;
  color: white;
}

/* Article container styles */
.addArticleContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Article list container styles */
.articleListContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Article item styles (card-like) */
.articleItem {
  flex: 0 0 calc(25% - 20px);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.articlesText {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  font-weight: bold;
  text-align-last: center;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .articleItem {
    flex-basis: calc(50% - 20px);
  }
}
